@model IEnumerable<LoginAndRegister>
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/stylesLogin.css" rel="stylesheet"/>
    <link href="~/img/download2.ico" rel="icon" type="image/x-icon" /> <!--Đổi sang dạng ico add favicon-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <!-- .NET 6 đã tối ưu link ảnh không cần ~/ -->
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1><i>Register Page</i></h1>
                        <span class="subheading">Please create your account here!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<section class="vh-120" style="background-image: url('/img/istockphoto-951864224-612x612.jpg')">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px; margin-top: 30px; margin-bottom: 30px">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                      <form action="/Register/Register" class="mx-1 mx-md-4">
                          <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                <input type="text" id="userName" name="userName" class="form-control" placeholder="userName" required/>
                                <label class="form-label" for="form3Example1c">Your User Name</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                <input type="password" id="PassworD" name="PassworD" class="form-control" placeholder="Password" required/>
                                <label class="form-label" for="form3Example4c">Password</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                <input type="text" id="Age" name="Age" class="form-control" placeholder="Age" required/>
                                <label class="form-label" for="form3Example1c">Your Age</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="Name" required/>
                                <label class="form-label" for="form3Example1c">Your Name</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    @if(Model != null)
                                        {
                                            @foreach(var item in Model)
                                            {
                                                @Html.DropDownListFor(modelItem => item.Gender, new SelectList(Enum.GetValues(typeof(Gender))),new{@class="form-control"})
                                            }
                                        }
                                    <select class="form-control" id="Gender" name="Gender">
                                        <option value="0">None</option> 
                                        <option value="1">Male</option> 
                                        <option value="2">Female</option> 
                                    </select>
                                <label class="form-label" for="form3Example1c">Your Gender</label>
                                </div>
                            </div>
                            <div class="form-check d-flex justify-content-center mb-5">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                            <label class="form-check-label" for="form2Example3">
                                I agree all statements in <a href="#!">Terms of service</a>
                            </label>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                            </div>
                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a class="fw-bold text-body" asp-controller="Login" asp-action="LoginPage"><u>Login here</u></a></p>
                      </form>
                        
                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid" alt="Sample image">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>