@{
    ViewData["Title"] = "Thanh Cong page";
    Layout = "~/Views/Shared/_LayoutEditingPage.cshtml";
}
<head></head>
<body>
    Thanh cong!
</body>
<div>
    <a asp-controller="CateEdit" asp-action="CateEditPage">Back to List</a>
</div>
