@{
    ViewData["Title"] = "Thanh Cong page";
    Layout = "~/Views/Shared/_LayoutEditingPage.cshtml";
}
<head></head>
<body>
    <h1>Thành Công</h1>
    <div>
        <a asp-controller="NewsEdit" asp-action="NewsEditPage">Back to List</a>
    </div>
</body>


