@model AllLayout
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content=""/>
        <link href ="C:\Theme-template-boostrap5-free-test\Pictures\download2.png" rel ="icon">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/stylesss.css" rel="stylesheet" />
        <link href ="~/img/download2.ico" rel="icon" type="image/x-icon"/>
    </head>
<body>
 <!-- Page Header-->
        <header class="masthead" style="background-image: url('/img/post-sample-image.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1><i>News Everyday</i></h1>
                            <span class="subheading">Make your own choices</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="main-content-image"style="background-image: url('/img/download777.jpeg')"> <!--link ảnh luôn '/' và đặt style để ưu tiên ảnh.-->
        <div class="container px-4 px-lg-5"  style="background-color: lightseagreen; box-shadow: 10px 10px #888888; margin-top: 20px; padding-top: 20px;">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3><i>Lastest Updated News: </i></h3>
                    <!-- Post preview-->
                    @foreach (var item in Model.ListNewsA)
                    {
                        <hr class="my-4" />
                        <div class="post-preview">
                            <a href="~/News/News/?listnewsAID=@item.listnewsAID">
                                <h2 class="post-title">@item.listnewsA</h2>
                                <h3 class="post-subtitle">@item.listnewsAShortDes</h3>
                            </a>
                            <p class="post-meta">
                                Written by
                                <a href="https://en.wikipedia.org/wiki/Fabrizio_Romano" target="_blank">Fabrizio Romano</a>
                                on MAY 9, 2022
                            </p>
                        </div>
                    }
                    @* <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                        <p class="post-meta">
                            Written by
                            <a href="#!">Bonny</a>
                            on September 18, 2022
                        </p>
                    </div> *@
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/Categories">Other Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>

                            <!--Tạo thêm icon chỉ cần đổi tên class: fab fa-(tên)...:-->
                            <li class="list-inline-item">
                                <!--href=...: gán link bấm icon dẫn đến-->
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; My Blogger Stories 2022</div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
</body>
</html>

<!--Sửa tiếp phần tin tức ở H0omePage sao cho liên kết với SQL lấy tin tức mới lên-->

